/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/assets/images/clothes
/public/assets/images/tailors
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
